@import "../../global.scss";

#skills {
    width : 80%;
    margin: 10px auto;

    @include respond-to(small) {
        width: 97%;
    }

    .container {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: center;

        .item {
            margin    : 5px;
            width     : 130px;
            height    : fit-content;
            box-shadow: 1px 1px 5px darkblue;
            transition: 0.6s;

            @include respond-to(x-small) {
                width: 129px;
            }

            &:hover {
                transform: scale(0.9, 0.9);
            }
        }

        .MuiRating-root {
            svg {
                path {
                    stroke: rgb(150, 115, 115); // Change the border color to red
                }
            }
        }

    }
}