@import "../../global.scss";


.navigation {
    // border: 3px solid red;
    width   : 100vw;
    position: sticky;
    top     : 0;
    left    : 0;

    .container {
        display        : flex;
        justify-content: space-between;
        align-items    : center;

        .list {
            position: relative;

            .toggle {
                display: none;

                @include respond-to (medium) {
                    display: block;
                }
            }

            .listItems {
                display: flex;
                margin : auto;
                padding: 5px;

                &.toggleClose {
                    @include respond-to (medium) {
                        display: none;
                        // transform: scale(0,0);
                    }
                }

                &.toggleOpen {
                    
                    @include respond-to (medium) {
                        background-color: red;
                        width: 600px;
                        display       : block;
                        position      : absolute;
                        margin        : 5px 0px;
                        top           : 100%;
                        left          : 50%;
                        transform     : translate(-50%, 0%);
                        flex-direction: column;
                        text-align    : center;

                    }
                }

                li {
                    margin: 0px 15px;

                    @include respond-to (medium) {
                        margin   : 10px 0px;
                        font-size: 20px;
                        border: 3px solid red;
                    }

                    a {
                        text-decoration: none;
                        color          : var(--color);
                        font-weight    : 400;
                        transition     : 0.5s;

                        &:hover {
                            transform: scale(2, 2);
                            color    : blue;
                        }
                    }
                }
            }
        }
    }
}