@import "../../global.scss";
@import 'bootstrap';


@keyframes scaleInOutBtn {
    0% {
        transform: scale(1); // Initial scale (normal size)
        background-color: rgb(69, 243, 142);
        color: black;
    }
    
    50% {
        transform: scale(0.9); // Scale in to 120% size
        color: black;
    }

    100% {
        transform: scale(1); // Scale back to normal size
    }
}
@keyframes scaleInOut {
    0% {
        transform: scale(1); // Initial scale (normal size)
    }
    
    50% {
        transform: scale(0.9); // Scale in to 120% size
    }

    100% {
        transform: scale(1); // Scale back to normal size
    }
}

#home {
    display       : flex;
    flex-direction: row;

    @include respond-to(small) {
        flex-direction : column-reverse;
        justify-content: center;
        align-items    : center;
    }


    .left {
        flex-basis     : 50%;
        display        : flex;
        flex-direction : column;
        justify-content: center;

        h5 {
            @include respond-to(small) {
                margin-top: 10px;
                font-size : 12px;
            }
        }

        h1 {
            @include respond-to(small) {
                font-size: 14px;
            }
        }

        h2 {
            @include respond-to(small) {
                font-size: 14px;
            }
        }

        @include respond-to(small) {
            text-align: center;
        }

        spam {
            color: red;
        }

        .icon {
            a {
                text-decoration: none;

                @include respond-to(x-small) {
                    font-size: 6px;
                }
            }

            >* {
                font-size: 25px;
                margin   : 5px 0px;
            }
        }

        .btn {
            animation: scaleInOutBtn 4s ease-in-out infinite;
            @include respond-to(x-small) {
                font-size: 10px;
                
            }
        }
    }

    .right {
        flex-basis: 50%;

        .image {
            display        : flex;
            align-items    : center;
            justify-content: flex-end;

            img {
                width     : 350px;
                height    : 350px;
                transition: 0.9s;
                animation: scaleInOut 5s ease-in-out infinite;
               
                @include respond-to(small) {
                    width    : 200px;
                    height   : 200px;
                }
            }
        }
    }
}