@import "../../global.scss";
@import 'bootstrap';


#home {
    display       : flex;
    flex-direction: row;

    @include respond-to(small){
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }


    .left {
        flex-basis     : 50%;
        display        : flex;
        flex-direction : column;
        justify-content: center;

        h5{
            @include respond-to(small){
                margin-top: 10px;
                 font-size: 12px;
            }
        }
        h1{
            @include respond-to(small){
                 font-size: 14px;
            }
        }

        h2{
            @include respond-to(small){
                 font-size: 14px;
            }
        }
        @include respond-to(small){
            text-align: center;
        }

        spam {
            color: red;
        }

        .icon {
            a {
                text-decoration: none;
                @include respond-to(x-small){
                    font-size: 6px;
                }
            }

            >* {
                font-size: 25px;
                margin   : 5px 0px;
            }
        }

        .btn{
            @include respond-to(x-small){
                font-size: 10px;
            }
        }
    }

    .right {
        flex-basis: 50%;

        .image {
            display        : flex;
            align-items    : center;
            justify-content: flex-end;

            img {
                width : 350px;
                height: 350px;
                transition        : 0.9s;
                @include respond-to(small){
                    width: 200px;
                    height: 200px;
                }

                &:hover{
                    transform: scale(1.1,1.1);
                }
            }
        }
    }
}