@import '../../global.scss';
#contact{
    // background-color: red;

    .container{
        display: flex;
        justify-content: space-around;

        @include mobile{
            flex-direction: column;
        }
     
        .left{
            flex-basis: 50%;
            text-align: center;
            @include mobile{
                display: none;
            }
           
        img{
            // border-radius: 20%;
            width: 500px;
            height: 500px;
        }

        }
        .right{
            flex-basis: 50%;
            height: 100%;
            // background-color: blue;
            margin-left: 50px;
            @include mobile{
                flex-basis: 100%;
                margin-left: 0px;
                padding:5px;
            }
            
            label{
                // background-color: black;
                width: 100%;
                font-size: 20px;
                font-weight: 500;
      
                
            }
            input{
                width: 75%;
                height:3em;
                padding:4px;

                @include mobile{
                    width: 100%;
                    height: 2em;
                }
            }

            textarea{
                width: 75%;
                height:10em;
                padding:4px;
                @include mobile{
                    width: 100%;
                    height: 3em; 
                }
            }

            .submitbtn{
                width: 100%;
                // background-color: red;
                margin: 0px;
                padding: 0px;
            }

            
    
        }
    }

}