.footer{
    // background-color: black;
    // width: 100vw;
    // height: 70px;
    .copyright{
        width:100%;
        text-align: center;
        padding: 10px 0;
        // background: #262626;
        font-weight: 300;
        margin-top: 10px;
        font-size: 30px;
        // background-color: red;
    }
    
    .copyright i{
        color: #ff004f;
    }
    
}