@import "./global.scss";
.app {
  height: 100%;
}

.light-mode {
  background-color: var(--dark);
  color           : var(--dark-color);

  a {
    color: var(--dark-color);
  }
}

.dark-mode {
  background-color: var(--light);
  color           : var(--light-color);

  a {
    color: var(--light-color);
    
    @include respond-to(medium){
     color:white;
    }
  }
}