@import "./global.scss";

.light-mode {
  background-color: var(--dark);
  color           : var(--dark-color);

  a {
    color: var(--dark-color);
  }

  input {
    color: var(--dark-color);
  }

  textarea {
    color: var(--dark-color);

  }
}

.dark-mode {
  background-color: var(--light);
  color           : var(--light-color);

  a {
    color    : var(--light-color);
    font-size: 900;
  }

  input {
    color: var(--light-color);
  }

  textarea {
    color: var(--light-color);

  }
}


.section {
  display        : flex;
  flex-direction : row;
  justify-content: space-around;

  // border: 3px solid red;
  // margin-bottom: 20px;
  div {
    flex-basis: 50%;
    padding   : 5px;
  }

  @include respond-to(small) {
    flex-direction: column;
  }

}